<ion-view title="会员借书" >
    <ion-content padding="true" class="has-header has-footer" ng-controller="rentBookCtrl">
        <!-- search book bar directive -->
        <ion-list >
            <ion-item class="item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-person"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" placeholder="输入会员的手机号" ng-model="search.phone" style="width:100%;">
                </label>
                <a class="button button-icon button-small icon ion-ios-close-empty " ng-show="search.phone.length > 0" ng-click="clearSearchMember()"> </a>
                <button class="button button-small button-outline button-positive" ng-click="searchMembers()">
                    &nbsp;&nbsp;查找会员&nbsp;&nbsp;
                </button>
            </ion-item>
            <span class="error-msg" ng-bind="member_error"></span>
        </ion-list>

        <span ng-show='member.locked' class="assertive">已锁定，不可借书。</span>

        <ion-list ng-if="member.card_number && !member.locked" class="list card ">
            <ion-item class=" item-icon-left">
                <i ng-class="{'icon ion-woman royal': !member.isBoy, 'icon ion-man calm': member.isBoy }"></i>
                {{ member.baby_name}}({{ member.card_number }})
            </ion-item>
            <ion-item class=" item-icon-left">
                <i class="icon ion-ios-calendar"></i>
                到期日期：{{ member.end_time| date:'yyyy-MM-dd'}}({{ member.valid_days }}天)
            </ion-item>

            <ion-item class=" item-icon-left">
                <i class="icon ion-pie-graph"></i>
                {{ member.max_book - member.can_rent_count }}本借阅中 / {{ member.max_book }} 本单次可借数目
            </ion-item>

        </ion-list>

        <ion-list ng-if="member.card_number && !member.locked">
            <ion-item class=" item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-barcode"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" placeholder="输入绘本的入库编码(12位数字)" ng-model="search.invcode" style="width:100%;">
                </label>
                <a class="button button-icon button-small icon ion-ios-close-empty"  ng-show="search.invcode.length > 0" ng-click="clearSearchBook()"> </a>
                <button class="button button-small button-balanced" ng-click="searchBook()">
                    &nbsp;&nbsp;加入借书单&nbsp;&nbsp;
                </button>
            </ion-item>
            <span class="error-msg" ng-bind="book_error"></span>
        </ion-list>


        <!--the books list-->
        <ion-list class="padding" ng-show="books.length">
            <h3>计划借阅图书</h3>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      ng-repeat="book in books"
                      type="item-text-wrap">
                <img ng-src="{{book.img || 'http://cloudbean.qiniudn.com/mob-gray-logo.png'}}" alt="封面图">
                <h2 ng-class="{'positive': book.isSelected}">{{book.name}}</h2>
                <p><i class="ion-ios-barcode">&nbsp;&nbsp;{{book.inv_code}}</i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="ion-ios-location">&nbsp;&nbsp;{{book.location}}</i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span ng-show="book.isRent"> 不可借 </span>
                    <span ng-hide="book.isRent"> 可借</span>
                </p>
                <i  ng-click="toggleSelected($index)"
                    ng-class="{'icon positive ion-ios-circle-filled': book.isSelected, 'icon ion-ios-circle-outline': !book.isSelected}"></i>
            </ion-item>

            <!--输入口令，口令正确显示借书按钮，点击按钮执行借书操作-->
          <!--   <div class="item item-input-inset" >
                <div class="item-input-wrapper" >
                    <i class="icon "
                       ng-class="{' ion-ios-locked': !isValid(secretKey),  'positive icon-large ion-checkmark-circled': isValid(secretKey)}">
                    </i>
                    <input type="password" placeholder="请寻找工作人员输入口令" ng-model="secretKey" style="width:100%;">
                </div>
            </div>
            ng-disabled="isSubmit || !isValid(secretKey)"
 -->
            <div class="item" ng-show="warnMessage">
                <span class="assertive">{{ warnMessage }}</span>
            </div>
            <div class="item"  >
                <button ng-disabled="!checkedCount" class="button button-calm button-full"
                        
                        ng-click="rentBook(member._id)">选好了，借书</button>
            </div>

        </ion-list>



    </ion-content>
</ion-view>
