<ion-view title="帮助">
    <ion-content padding="true" class="has-header  has-footer" >
        <div class="card">
            <div class="item item-divider item-calm">
                绘本馆自助应用使用指南
            </div>
            <div class="item item-text-wrap">
                <a href="#">观看视频演示</a>
                <br/><br/>
                本应用可以搜书，还书，借书。
            </div>
        </div>
        <div class="card">
            <div class="item item-calm item-divider">
                关于我们
            </div>
            <div class="item item-text-wrap">
                &nbsp;&nbsp;&nbsp;&nbsp;云豆绘本馆（图书借阅馆），是一家专注于儿童早期阅读，以儿童绘本图书馆为平台，集读书、借书、售书为经营模式的专业机构。 以给孩子人生的第一张借书卡为经营理念，以有声绘本这种更为方便的方式开启孩子的阅读为已任，让优秀的儿童早期读物走进广大家庭为服务宗旨。 定期开展会员活动，集音乐、美术、舞蹈、手工、外语、文化知识、动画赏析为一体的多功能图书借阅馆，在丰富孩子知识、开阔视野的同时，大力挖掘孩子的各种潜能。

            </div>
        </div>

        <div ng-controller="BarcodeCtrl">
            <button class="button button-calm" ng-click="scan()">Scan barCode</button>
            <button class="button button-assertive" ng-click="encode()">encode an url</button>
        </div>

    </ion-content>
</ion-view>