<ion-view title="会员借书" ng-init="init()">
    <ion-content padding="true" class="has-header has-footer">
        <!-- search book bar directive -->
        <span class="error-msg" ng-bind="error"></span>

        <div class="bar bar-header item-input-inset" >
            <member-search
                    placeholder="search member"
                    minlength="11"
                    model="member"
                    error="error"
                    source="getMemberByPhone(phoneNumber)">
            </member-search>
        </div>

        <div class="bar bar-header item-input-inset" >
            <book-search
                    placeholder="search book"
                    minlength="12"
                    model="searchedBook"
                    error="error"
                    source="getBookByInvCode(invCode)">
            </book-search>
        </div>

        <div ng-if="member.card_number" class="item ">
            <p>会员卡号：{{ member.card_number }}</p>
            <p>会员手机：{{ member.phone_number }}</p>
            <p>宝宝名字：{{ member.baby_name}}</p>
            <p>激活时间：{{ member.active_time | date:'yyyy-MM-dd'}}</p>
            <p>有效天数：{{ member.valid_days }}</p>
            <p>过期日期：{{ member.end_time| date:'yyyy-MM-dd'}}</p>
            <p ng-show='member.locked'>已锁定，不可借书。}</p>
            <p>当前借阅状态：{{ member.max_book - member.can_rent_count }}本借阅中 / {{ member.max_book }} 本单次可借数目</p>
            <p>本次最多可借：{{ member.can_rent_count}}本</p>
        </div>
        <div ng-show="searchedBook.name" class="item item-remove-animate item-avatar item-icon-right"
                  type="item-text-wrap" >
            <img ng-src="{{searchedBook.img || 'http://cloudbean.qiniudn.com/mob-gray-logo.png'}}" alt="封面图">
            <h2>{{searchedBook.name}}</h2>
            <p><i class="ion-ios-barcode">&nbsp;&nbsp;{{searchedBook.inv_code}}</i>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="ion-ios-location">&nbsp;&nbsp;{{searchedBook.location}}</i>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                <i ng-class="{'ion-happy-outline':!searchedBook.isRent, 'ion-sad-outline': searchedBook.isRent}">&nbsp;&nbsp;{{searchedBook.isRent?'借出':'在馆'}}</i>
            </p>
            <i  ng-click="addBook(searchedBook)"
                ng-class="{'icon ion-ios-circle-filled': searchedBook.isSelected, 'icon ion-ios-circle-outline': !searchedBook.isSelected}"></i>
        </div>

        <!--the books list-->
        <ion-list ng-show="books.length">
            <h3>计划借阅图书</h3>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      ng-repeat="book in books"
                      type="item-text-wrap"
                    >
                <img ng-src="{{book.img || 'http://cloudbean.qiniudn.com/mob-gray-logo.png'}}" alt="封面图">
                <h2>{{book.name}}</h2>
                <p><i class="ion-ios-barcode">&nbsp;&nbsp;{{book.inv_code}}</i>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="ion-ios-location">&nbsp;&nbsp;{{book.location}}</i> </p>
                <i  ng-click="toggleSelected($index)"
                    ng-class="{'icon ion-ios-circle-filled': book.isSelected, 'icon ion-ios-circle-outline': !book.isSelected}"></i>

            </ion-item>
        </ion-list>

        <!--输入口令，口令正确显示借书按钮，点击按钮执行借书操作-->
        <div class="list" ng-show="member.card_number && books.length && checkedCount">
            <input type="password" ng-model="secretKey" placeholder="请寻找工作人员输入口令"/>
            <button ng-show="isValid(secretKey)" class="button button-calm button-full"
                    ng-click="rentBook(member._id)">选好了，借书</button>
        </div>

    </ion-content>
</ion-view>
