<ion-view title="绘本馆自助借阅应用">
    
    <ion-content padding="true" class="has-header has-footer">

        <!-- search book bar directive -->
        <div class="list" >
            <div class="bar bar-header item-input-inset" >
                <ion-search placeholder="搜索绘本..."
                model="books" error="error"
                source="getByName(str)"></ion-search>
            </div>
            <span ng-show="error" class="error-msg">{{error}}</span>
            <ion-list class="padding">
                <ion-item class="item-remove-animate item-avatar item-icon-right"
                          ng-repeat="book in books"
                          type="item-text-wrap"
                          href="#/tab/books/{{book.id}}">
                    <img ng-src="{{book.img || 'http://cloudbean.qiniudn.com/mob-gray-logo.png'}}" alt="封面图">
                    <h2>{{book.name}}</h2>
                    <p><i class="ion-ios-barcode">&nbsp;&nbsp;{{book.inv_code}}</i>&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="ion-ios-location">&nbsp;&nbsp;{{book.location}}</i> </p>
                    <i class="icon ion-chevron-right icon-accessory"></i>

                </ion-item>
            </ion-list>
        </div>

        <div class="content " style="text-align: center;" ng-hide="books.length">
            <img  src="http://cloudbean.qiniudn.com/mob-logo.png">
            <h4 >云豆亲子绘本馆</h4>
            <br/>
            <p>最享受的时光&nbsp;&nbsp;&nbsp;&nbsp;最高贵的教养</p>
            <br/>
            <br/>
            <a href="#" class="button button-small   button-calm">&nbsp;连结绘本世界&nbsp;</a>
        </div>

    </ion-content>
</ion-view>