<ion-view title="帮助">
    <ion-content padding="true" class="has-header  has-footer" >
       
        <div class="card">
            <div class="item item-calm item-divider">
                关于我们
            </div>
            <div class="item item-text-wrap">
                &nbsp;&nbsp;&nbsp;&nbsp;
                由资深教育者发起并成立的一家专注于儿童早期阅读，以儿童绘本馆为平台，集读书、育儿指导等为主要业务的专业机构。
            </div>
        </div>

        <div class="card">
            <div class="item item-calm item-divider">
                云豆的特色
            </div>
            <div class="item item-text-wrap">
                <ul class="help-ul">
                    <li> &nbsp;<i class="icon ion-android-checkbox-outline balanced"></i>&nbsp;自主研发的图书及会员管理系统</li>
                    <li> &nbsp;<i class="icon ion-android-checkbox-outline balanced"></i>&nbsp;全程自助借还书服务</li>
                    <li> &nbsp;<i class="icon ion-android-checkbox-outline balanced"></i>&nbsp;可定制的图书月更新模式</li>
                    <li> &nbsp;<i class="icon ion-android-checkbox-outline balanced"></i>&nbsp;与各机构合作组织多元的活动</li>
                    <li> &nbsp;<i class="icon ion-android-checkbox-outline balanced"></i>&nbsp;活跃的线上服务团队</li>
                </ul>
            </div>
        </div>
        
        <div class="card">
            <div class="item item-calm item-divider">
                会员价格
            </div>
            <div class="item item-text-wrap">
                <table class="help-table">
                    <tr style="border-bottom:2px solid #ecc;">
                        <td >类型</td>  <td>价格</td>  <td>押金</td>  <td>权利</td>
                    </tr>
                    <tr>
                        <td>  云豆月卡</td>  <td>    ￥100</td>  <td>    ￥100  </td>  <td>  一次可借阅4本绘本</td>
                    <tr>
                        <td>云豆季卡</td>  <td>    ￥200 </td>  <td>   ￥100   </td>  <td> 一次可借阅4本绘本</td>
                    <tr>
                        <td>云豆年卡</td>  <td>    ￥420 </td>  <td>   ￥100    </td>  <td>一次可借阅4本绘本，赠送云豆书包</td>
                    </tr>
                </table>
                <br/>
                <p>所有办理会员卡的会员们，可以在会员卡有效期内对绘本进行不限时长、不限次数的借阅。会员卡到期后，退还押金。</p>
            </div>
        </div>

         <div class="card">
            <div class="item item-calm item-divider">
                营业时间
            </div>
            <div class="item item-text-wrap">
                <p>夏季：8:00-20:00
                <p>冬季：8:30-19:00</p>
                <p>每周一休息</p>
            </div>
        </div>

        <div class="card">
            <div class="item item-calm item-divider">
                联系我们
            </div>
            <div class="item item-text-wrap">
                <p>在使用中有任何问题，欢迎反馈给我，可以用以下联系方式跟我交流</p><br/>
                <img src="img/lx.png" >
                <p>官网地址:<strong>www.cloud-bean.com</strong><p>
                <p>联系电话:<strong>15389088570（张老师）&nbsp;&nbsp;&nbsp;&nbsp; 15349216763（辛老师）</strong><p>

            </div>
        </div>

        <!--<div ng-controller="BarcodeCtrl">-->
            <!--<button class="button button-calm" ng-click="scan()">Scan barCode</button>-->
            <!--<button class="button button-assertive" ng-click="encode()">encode an url</button>-->
        <!--</div>-->

    </ion-content>
</ion-view>