<ion-view title="绘本馆自助借阅应用">
    
    <ion-content padding="true" class="has-header has-footer">
        <div class="content " style="text-align: center;">
                   
                        <img  src="/assets/img/hbg2-100x81-logo.png">
                         <h4 >云豆绘本馆</h4>
                         <p>最享受的时光&nbsp;&nbsp;&nbsp;&nbsp;最高贵的教养</p>
                         <a href="#/applyBorrow" class="button button-small button-outline  button-calm">&nbsp;连结绘本世界&nbsp;</a>
        </div>
        <div class="button-bar">
            <a href="#/applyReturn" class="button button-large button-outline button-energized button-block">还书</a>

            <a href="#/applyBorrow" class="button button-large button-outline  button-royal button-block">借书</a>
        </div>
        
        <!-- search book bar directive -->
        <div class="list" ng-controller="searchBookCtrl">
            <div class="bar bar-header item-input-inset" >
                <ion-search placeholder="Search a book" 
                model="books"
                source="getByName(str)"></ion-search>
            </div>
            <div ng-repeat="book in books | filter:search.value" class="item">
                {{book.name}}
             </div>
        </div>


    </ion-content>
</ion-view>