<ion-view title="批准还书">
    <ion-content padding="true" class="has-header has-footer">
        <div class="list card">
            <div class="item item-divider">会员信息</div>
            <div class="item item-body">
                <div>
                    <p>卡号：
                        <strong>0000 0006</strong>
                    </p>

                    <p>宝贝名字：
                        <strong>果果</strong>
                    </p>

                    <p>手机号：
                        <strong>13658221745</strong>
                    </p>

                    <p>有效期：
                        <strong>2015-11-09</strong>
                    </p>
                </div>
            </div>
        </div>
        <h4>绘本清单</h4>
        <ion-list>
            <ion-item>104100006854 爸爸生气了</ion-item>
            <ion-item>104100002598 晚安，月亮</ion-item>
            <ion-item>104100014987 老奶奶与大花猫</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <form>
            <label class="item item-input" name="man_key">
                <span class="input-label">口令</span>
                <input type="text" placeholder="工作人员密码">
            </label>
            <a href="#/resultReturn" class="button button-positive button-block">确认无误，批准还书</a>
        </form>
    </ion-content>
</ion-view>